# Ignore node_modules in the root folder
node_modules/

# Ignore the unbin folder
/unbin/node_modules/
/unbin/dist/
/unbin/.env

# Ignore the unbin-react folder
/unbin-react/node_modules/
/unbin-react/build/
/unbin-react/.env

# Ignore log files
*.log

# Ignore IDE files
.vscode/
.idea/
